<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEDICT-V2.0</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <script src="{{url_for('static', filename='menu.js')}}"></script>

    <!-- Your main text image -->
    <div id="main-text-image">
        <div class="line top"></div>
        <img src="/static/main_text.png" alt="Main Text">
        <div class="line bottom"></div>
    </div>

 
    <h2>Choose your application:<h2>
    <div id="predictionTypeButtons">
        <button id="InVitro-button" type="button" onclick="selectPredictionType('InVitro')">Plasmid</button>
        <button id="InVivo-button" type="button" onclick="selectPredictionType('InVivo')">mRNA</button>
    </div>
    
    

    <form id="sequenceForm">
        <!-- In Vitro Prediction Section -->
        <div id="inVitroSection" class="hidden">
                <div id="inVitroEditorButtons">
                    <h2>Choose a Base Editor (Plasmid):<h2>
                    <button id="ABE8e-SpCas9-button" type="button" onclick="selectEditor('ABE8e-SpCas9', 'InVitro')">SpCas9-ABE8e</button>
                    <button id="ABE8e-NG-button" type="button" onclick="selectEditor('ABE8e-NG', 'InVitro')">NG-ABE8e</button>
                    <button id="ABE8e-SpRY-button" type="button" onclick="selectEditor('ABE8e-SpRY', 'InVitro')">SpRY-ABE8e</button>
                    <button id="ABEmax-SpCas9-button" type="button" onclick="selectEditor('ABEmax-SpCas9', 'InVitro')">SpCas9-ABEmax</button>
                    <button id="ABEmax-NG-button" type="button" onclick="selectEditor('ABEmax-NG', 'InVitro')">NG-ABEmax</button>
                    <button id="ABEmax-SpRY-button" type="button" onclick="selectEditor('ABEmax-SpRY', 'InVitro')">SpRY-ABEmax</button>
                    <!-- Add more buttons if needed -->
                </div>
            <br>
            <h2>Enter DNA Sequence (24 bases):</h2>
            <textarea id="inVitroSequenceInput" rows="4" cols="50"></textarea>
        </div>

        <!-- In Vivo Prediction Section -->
        <div id="inVivoSection" class="hidden">
            <h2>Choose a Base Editor (mRNA):</h2>
                <div id="inVivoEditorButtons">
                    <button id="ABE8e-SpRY-button" type="button" onclick="selectEditor('ABE8e-SpRY', 'InVivo')">SpRY-ABE8e</button>
                    <button id="ABEmax-SpRY-button" type="button" onclick="selectEditor('ABEmax-SpRY', 'InVivo')">SpRY-ABEmax</button>
                    <!-- Add more checkboxes if needed -->
                </div>    
            <h2>Enter DNA Sequence (24 bases):</h2>        
            <br> <!-- Add a line break here -->
            <textarea id="inVivoSequenceInput" rows="4" cols="50"></textarea>
        </div>

        
        <br>
        <button type="button" onclick="predict()">Predict</button>
    </form>

    <h2>Prediction Result</h2>
    <!-- <div id="predictionResults"></div> -->
    <div id="predictionResults">
        {{ res_html | safe }}
    </div>
    <script src="{{url_for('static', filename='javascriptExtracted.js')}}"></script>
</body>

</html>
